<div class="container">
  <div class="row ml-auto mr-auto">    <h2> Process List  </h2> </div>
  <div class="row ml-auto mr-auto">
    <ul class="processes">
        <li *ngFor="let process of processes" (click)="getProcessInfo(process)">
        {{process}}
        </li> 
    </ul>
  </div>

  <div *ngIf="showInfo" class="row d-flex flex-column">
            <div class="row process-info">
              <label class="col-4">DATABASE_HOST</label>
              <input type="text" class="col-4" [(ngModel)]="processInfo.DATABASE_HOST" class="col-4" />
            </div>
            <div class="row process-info">
              <label class="col-4">DATABASE_PASSWORD</label>
              <input type="text" class="col-4" [(ngModel)]="processInfo.DATABASE_PASSWORD" class="col-4" />
              </div>
            <div class="row process-info">
                <label class="col-4">QUEUE_CONNECTION_STRING</label>
                <input type="text" class="col-4" [(ngModel)]="processInfo.QUEUE_CONNECTION_STRING" class="col-4" />
            </div>
            
            <button type="button" class="btn btn-primary ml-auto mr-auto" (click)="save()"> Save</button>
  </div>
  
  <button type="button" class="btn btn-info" *ngIf="!addNew" (click)="setNew()">Add New Process</button>

  <div *ngIf="addNew" class="row d-flex flex-column"> 
      <div class="row process-info">
          <label class="col-4">PROCESS_NAME</label>
          <input type="text" class="col-4" [(ngModel)]="newProcessInfo.PROCESS_NAME" class="col-4" />
        </div>
      <div class="row process-info">
        <label class="col-4">DATABASE_HOST</label>
        <input type="text" class="col-4" [(ngModel)]="newProcessInfo.DATABASE_HOST" class="col-4" />
      </div>
      <div class="row process-info">
        <label class="col-4">DATABASE_PASSWORD</label>
        <input type="text" class="col-4" [(ngModel)]="newProcessInfo.DATABASE_PASSWORD" class="col-4" />
        </div>
      <div class="row process-info">
          <label class="col-4">QUEUE_CONNECTION_STRING</label>
          <input type="text" class="col-4" [(ngModel)]="newProcessInfo.QUEUE_CONNECTION_STRING" class="col-4" />
      </div>
      
      <button type="button" class="btn btn-primary ml-auto mr-auto" (click)="register()">Register</button>
  </div>
</div>